/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  height: 2.25rem;
  width: 2.25rem;

  /* I can use bootstrap ulities */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.navbar-toggle-icon {
  width: 1.7rem;
}

.navbar-brand {
  font-size: 1.4rem;
}

/* ************* */
/* HERO SECTION */
/* *********** */

.section {
  margin-bottom: 6.25rem;
}

.section-hero {
  height: 90vh;
}

.hero-carousel {
  height: inherit;
}

.carousel-item--blur {
  position: relative;
  height: 100%;
}

.carousel-item--blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ***************** */
/* PACAKGES SECTION */
/* *************** */

.pacage-list {
  list-style: none;
  list-style-position: ;
  padding-left: 0;
}
